@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Nosifer&family=Roboto:wght@100;400;500&display=swap');

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFF;

}


.holder {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next row */
    justify-content: start; /* Distribute cards evenly horizontally */
    padding: 10px; /* Add spacing around the holder */
	
}

.card {
    background-color: #f0f0f0;
	color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(25% - 20px); /* Set the width to 25% of the container width, accounting for margin */
    margin: 10px;
	text-shadow: 2px 2px #000000;
	
}
.border {
	background-color: rgba(0, 0, 0, 0.3); /* A semi-transparent black background */
	color: white;
}

.user-info {
    list-style: none;
    padding: 0;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #0099ff;
    border-radius: 50%;
}

.level {
    width: 30px;
    height: 30px;
}

.username {
    font-weight: bold;
    font-size:1.3rem;
}


/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .card {
        width: calc(80% - 10px); /* Adjust the width for two cards on each row in smaller screens */
    }
}